.skills-wrapper h1 {
    text-align: center;
}

.skills {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.skill {
    text-align: center;
    margin: 5px;
    width: 22%;
    padding: 8px;
    border-radius: 20px;
}

.skill:hover {
    background-color: #fff;
    color: #000;
}