@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: white;
    position: relative;
}

.App-header .main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.App-header .main-nav ul li {
    display: inline-block;
    margin: 8px;
}

.App-header .main-nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.nav {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}